# ========================
# Dependencies
# ========================
node_modules/


# ========================
# Environment Variables
# ========================
.env
*.env

# ========================
# Build Outputs
# ========================
dist/
build/
out/

# ========================
# Logs
# ========================
logs/
*.log

# ========================
# Editor Directories
# ========================
.vscode/*
!.vscode/extensions.json
.idea/

# ========================
# OS Files
# ========================
.DS_Store
Thumbs.db

# ========================
# TypeScript
# ========================
*.tsbuildinfo

# ========================
# Misc
# ========================
*.local
coverage/



tmp/
.redis/