.form {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.actions {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 6px;
}

.linkButton {
    background: none;
    border: none;
    padding: 0;
    color: #137fec;
    font-size: 13px;
    font-weight: 500;
    cursor: pointer;
    text-decoration: none;
    position: relative;
    transition: all 0.2s ease;
}
.linkButton::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;

    width: 0%;
    height: 1.5px;
    background: #137fec;

    transition: width 0.25s ease;
}
.linkButton:hover::after {
    width: 100%;
}
.linkButton:hover {
    color: #0f6ad6;
}
