.formFields {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 12px;
}
.formFields label {
    font-size: 14px;
    color: black;
    font-weight: 500;
}
.passwordWrap {
    display: flex;
    justify-content: space-between;
}
.forgotPassword {
    font-size: 12px !important;
    color: #137fec !important;
    border: none;
    background: none;
}

.forgotPassword:hover {
    cursor: pointer;
}

.inputWrapper {
    position: relative;
}

.leftIcon {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    color: #6b7280;
}

.rightIcon {
    position: absolute;
    right: 12px;
    top: 35%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 18px;
    height: 15px;
    border: none;
    background: transparent;
    padding: 0;
    cursor: pointer;
    color: #6b7280;
}

.input {
    width: 100%;
    height: 48px;
    padding: 10px 40px 10px 40px;
    border-radius: 8px;
    border: 2px solid #dbe0e6;
    outline: none;
}
