* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    font-family: 'Inter', sans-serif;
    line-height: 1.5;
    background: #f4f7f6 !important;
}

::-webkit-scrollbar {
    width: 6px;
}
::-webkit-scrollbar-track {
    background: transparent;
}
::-webkit-scrollbar-thumb {
    background: #cbd5e1;
    border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
    background: #94a3b8;
}

.suspense-loader {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
