.Wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.body {
    flex: 1;
    display: flex;
    padding: 20px;
}

.main {
    flex: 1;
    overflow-y: auto;
    overflow-x: hidden;
    min-width: 0;
}

@media (max-width: 768px) {
    .body {
        padding: 16px;
    }
}
